# [submodule "CodigoFonteArquiteturaHexagonal"]
# 	path = 20.ArquiteturaHexagonal/1.CodigoFonte
# 	url = https://github.com/codeedu/fc2-arquitetura-hexagonal
#[submodule "21.CleanArquitecture/2.CleanArchitecture"]
#	path = 21.CleanArquitecture/2.CleanArchitecture
#	url = git@github.com:petrovick/fc-clean-architecture-ts.git
#[submodule "21.CleanArquitecture/1.CodigoFonte"]
#	path = 21.CleanArquitecture/1.CodigoFonte
#	url = git@github.com:devfullcycle/fc-clean-architecture.git
#[submodule "22.Monolito/1.CodigoFonte"]
#	path = 22.Monolito/1.CodigoFonte
#	url = git@github.com:devfullcycle/fc-monolito.git

[submodule "20.ArquiteturaHexagonal/1.CodigoFonte2"]
	path = 20.ArquiteturaHexagonal/1.CodigoFonte2
	url = https://github.com/codeedu/fc2-arquitetura-hexagonal
[submodule "21.CleanArquitecture/2.CleanArchitecture2"]
	path = 21.CleanArquitecture/2.CleanArchitecture2
	url = git@github.com:petrovick/fc-clean-architecture-ts.git
[submodule "21.CleanArquitecture/1.CodigoFonte2"]
	path = 21.CleanArquitecture/1.CodigoFonte2
	url = git@github.com:devfullcycle/fc-clean-architecture.git
[submodule "22.Monolito/1.CodigoFonte2"]
	path = 22.Monolito/1.CodigoFonte2
	url = git@github.com:devfullcycle/fc-monolito.git
